.lessons-background {
  background-color: rgb(87, 143, 192);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: clamp(5px, 10px, 15px);
}

.lesson-btn {
  grid-column: 8 / 10;
}

.hlb1 {
  grid-row: 5 / span 1;
}
.hlb2 {
  grid-row: 6 / span 1;
}
.hlb3 {
  grid-row: 7 / span 1;
}
.hlb4 {
  grid-row: 8 / span 1;
}