.lessons-background {
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: clamp(5px, 10px, 15px);
  text-align: center;

}

.lessons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lessons-header {
  border-bottom: 1px solid aliceblue;
}

.--abcs {
  grid-row: 3 / span 12;
  grid-column: 3 / span 3;
}

.--practice {
  grid-row: 3 / span 12;
  grid-column: 7 / span 3;
}
